{% extends 'layout.html' %}

{% block body %}
<div class="card mt-2">
  <div class="card-body">
    <h5 class="card-title text-center">7 chambers of Web Scraping *</h5>
    <p class="card-text text-center text-secondary">* exercises to improve your web scraping skills</p>

    <div class="row mt-5">
      
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Chamber 1</h5>
            <p class="card-text text-secondary">Scraping single element's items</p>
            <a class="btn btn-primary" href="/chamber_1">Enter</a>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Chamber 2</h5>
            <p class="card-text text-secondary">Scraping multiple elements</p>
            <a class="btn btn-primary" href="/chamber_2">Enter</a>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Chamber 3</h5>
            <p class="card-text text-secondary">Scraping elements from multiple pages</p>
            <a class="btn btn-primary" href="/chamber_3">Enter</a>
          </div>
        </div>
      </div>
      
    </div>
    
    <div class="row mt-4">
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Chamber 4</h5>
            <p class="card-text text-secondary">Downloading images</p>
            <a class="btn btn-primary" href="/chamber_4">Enter</a>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Chamber 5</h5>
            <p class="card-text text-secondary">Extracting data from HTML table</p>
            <a class="btn btn-primary" href="/chamber_5">Enter</a>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Chamber 6</h5>
            <p class="card-text text-secondary">Faking AJAX request</p>
            <a class="btn btn-primary" href="/chamber_6">Enter</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row mt-4">
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Chamber 7</h5>
            <p class="card-text text-secondary">Scraping data from infinite scroll page</p>
            <a class="btn btn-primary" href="/chamber_7">Enter</a>
          </div>
        </div>
      </div>
      
      <div class="col">
        
      </div>
      
      <div class="col">
        
      </div>
    </div>

  </div>
</div>
  
{% endblock %}
