{% extends 'layout.html' %}

{% block body %}
 
<div class="card mt-2">
  <div class="card-body">
    <h5 class="card-title text-center"><strong class="text-success">Chamber 2</strong></h5>
    <p class="card-text text-center text-secondary">
      Your task is to extract available items from all the movies elements below and store them to CSV file
    </p>

    {% for movie in movies %}
      <div class="col">
        <div class="card mt-3">
          <div class="card-header text-left">
            <strong class="movie-title">{{movie.title}}</strong>
          </div>
          <div class="card-body">
            <div class="row">
        
            <div class="col-md-6 text-left">
              <div>
                <span class="text-secondary"><strong>Genre:</strong></span>
                <span class="movie-genre">{{movie.genre}}</span>              
              </div>
              <div>
                <span class="text-secondary"><strong>Country:</strong></span>
                <span class="movie-country">{{movie.country}}</span>              
              </div>
              <div>
                <span class="text-secondary"><strong>Year:</strong></span>
                <span class="movie-year">{{movie.release_year}}</span>              
              </div>
              <div>
                <span class="text-secondary"><strong>Director:</strong></span>
                <span class="movie-director">{{movie.director}}</span>              
              </div>
              <div>
                <span class="text-secondary"><strong>Starring:</strong></span>
                <span class="movie-starring">{{movie.starring}}</span>              
              </div>
            </div>
            
            <div class="col text-right">
              <img class="movie-poster" src="{{movie.poster}}" alt="Card image cap" style="height: 180px"/>
            </div>
          
          </div>
          </div>
        </div>
      </div>  
    {% endfor %}
    
  </div>
</div>
  
{% endblock %}
