{% extends 'layout.html' %}

{% block body %}
  <div class="card mt-2">
    <div class="card-body">
      <div class="jumbotron jumbotron-fluid mt-2" style="padding: 30px">
        <div class="container text-center">
          <h1 class="display-5"><strong>FREE:</strong> just EPYCO, no internet access</h1>
          <a class="btn btn-lg btn-primary mt-2" target="_blank" href="https://epyco.herokuapp.com">CODE NOW!</a>
          <hr class="my-5">
          <h1 class="display-5"><strong>ONLY 5$ per month:</strong> EPYCO + HTTP requests!</h1>
          <div class="row mt-4">
            <div class="col"><a target="_blank" href="https://www.pythonanywhere.com/?affiliate_id=0066a4c4" class="col btn btn-primary btn-lg">SUBSCRIBE NOW!</a></div>
            <div class="col-1 lead bold">+</div>
            <div class="col"><a target="_blank" href="https://github.com/maksimKorzh/epyco" class="col btn btn-success btn-lg">EPYCO</a></div>
          </div>
        </div>
      </div>
      <img src="{{url_for('static', filename = 'images/ots.png')}}" style="height: 520px;"></img>
    </div>
  </div>
{% endblock %}
