{% extends 'layout.html' %}

{% block body %}
  <div class="card mt-2">
    <div class="card-body">
      <div class="jumbotron jumbotron-fluid mt-2" style="padding: 30px">
        <div class="container text-center">
          <h1 class="display-5"><strong>✔️ FREE: </strong>EPYCO + HTTP Requests!</h1>
          <a class="btn btn-lg btn-success mt-2" target="_blank" href="https://epyco.herokuapp.com"><strong>CODE NOW!</strong></a>
        </div>
      </div>
      <img src="{{url_for('static', filename = 'images/ots.png')}}" style="height: 520px;"></img>
    </div>
  </div>
{% endblock %}
