{% extends 'layout.html' %}

{% block body %}
  <div class="card mt-2">
    <div class="col-md-6 text-center mx-auto fill">
      <div class="card-body">
        
          <img class="rounded-circle face" src="/static/images/cmk.jpg" style="width: 50%"/>
          <p class="lead mt-5"><h4>Maksim Korzh</h4></p>
        
        <hr class="my-4"/>          
        <p class="lead">
          Python Developer
        </p>
        Web scraping & Flask apps & RESTful APIs
        <hr class="my-4"/>          
        
        <a class="btn btn-primary text-white mt-4" href="mailto:freesoft.for.people@gmail.org">Mail me</a>
        <a class="btn btn-success mt-4" href="https://www.upwork.com/o/profiles/users/_~01fa5b6769e04e40ba/">UpWork</a>                      
        <a class="btn btn-secondary mt-4" href="https://github.com/maksimKorzh?tab=repositories">GitHub</a>
        <a class="btn btn-danger mt-4" href="https://www.youtube.com/channel/UClA-jNuyJKqN-xCm7KPG_XA/videos?view_as=subscriber">YouTube</a>
      </div>
    </div>
  </div>
{% endblock %}
