{% extends 'layout.html' %}

{% block body %}
  <div class="card mt-2">
    <div class="card-body">

        <table id="dashboard" class="display responsive mt-4" style="width: 100%">
          <thead>
            <tr>
              <th>Date:</th>
              <th>Method:</th>
              <th>URL:</th>
              <th>Ip:</th>              
              <th>Accept:</th>
              <th>Accept encoding:</th>
              <th>Connection:</th>
              <th>Host:</th>
              <th>User agent:</th>
              <th><div hidden=true>id</div></th>
            </tr>
          <thead>
        </table>
      
    </div>
  </div>
  
  <script type="text/javascript">
    $(document).ready( function () {
      $('#dashboard').DataTable({
        "order": [[ 9, "desc" ]],
        "ajax": "../api/dashboard",
        "columns": [
          {"data": "Date"},
          {"data": "Method"},
          {"data": "URL"},
          {"data": "Ip"},
          {"data": "Accept"},
          {"data": "Accept-Encoding"},
          {"data": "Connection"},
          {"data": "Host"},
          {"data": "User-Agent"},
          {"data": (data) => {return '<div hidden=true>' + data['_id'] + '</div>'}}
        ]
      });
    });
  </script>
{% endblock %}
