{% extends 'layout.html' %}

{% block body %}
  <div class="card mt-2">
    <div class="col-md-6 text-center mx-auto fill">
      <div class="card-body">
        
        <p class="lead">
          Thanks for your willing to support this website!
        </p>
        
        <hr class="my-4"/>
        
        Your contributions highly motivates keep developing this site and adding new features!
        
        <hr class="my-4"/>
        
        <p>
          <strong>Scraping Kung Fu Patrons</strong>
          <ul class="list-group">
            <li class="list-group-item text-success">pandrei75</li>
            <li class="list-group-item text-success">vadikne</li>
            <li class="list-group-item text-success">BLACK_FOX</li>
            <li class="list-group-item text-success">alla17102009</li>
            <li class="list-group-item text-success">Chris1111</li>
          </ul>
        </p>

        <strong>Thank you guys!</strong>
        <hr class="my-4 mt-4"/>
        <a href="https://www.patreon.com/bePatron?u=29097253" data-patreon-widget-type="become-patron-button">Become a Patron!</a>

      </div>
    </div>
  </div>
{% endblock %}
