{% extends 'layout.html' %}

{% block body %}
<div class="card mt-2">
  <div class="card-body">
    <h5 class="card-title text-center">36 chambers of Web Scraping *</h5>
    <p class="card-text text-center text-secondary">* Reference to "36 chambers of Shaolin" starring Gordon Liu</p>

    <div class="row mt-5">
      
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Chamber 1</h5>
            <p class="card-text text-secondary">Scraping single element's items</p>
            <a class="btn btn-primary" href="/chamber_1">Enter</a>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Chamber 2</h5>
            <p class="card-text text-secondary">Scraping multiple items</p>
            <a class="btn btn-primary" href="/chamber_2">Enter</a>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Chamber 3</h5>
            <p class="card-text text-secondary">Scraping items from multiple pages</p>
            <a class="btn btn-primary" href="/chamber_3">Enter</a>
          </div>
        </div>
      </div>
      
    </div>

  </div>
</div>
  
{% endblock %}
